.wrapper {
    --search-border-radius: 92px;
    --search-item-color: rgba(22, 24, 35, 0.4);

    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: var(--default-layout-header-height);
    width: 100%;
    top: 0;
    position: fixed;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    z-index: 1000;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search {
    position: relative;
    width: 361px;
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0 12px 16px;
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
    input {
        border: none;
        outline: none;
        color: #2b2b2b;
        background: transparent;
        flex: 1;
        font-size: 1.6rem;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &-btn {
        width: 52px;
        padding: 11px 16px;
        border: none;
        outline: none;
        cursor: pointer;
        background: transparent;
        font-size: 2rem;
        color: var(--search-item-color);
        border-top-right-radius: var(--search-border-radius);
        border-bottom-right-radius: var(--search-border-radius);
        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
    &-line {
        content: '';
        height: 28px;
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }
    &-result {
        width: 361px;
    }
    &-account {
        &--title {
            height: 30px;
            padding: 5px 12px;
            font-size: 1.4rem;
            line-height: 2rem;
            font-weight: 600;
            color: rgba(22, 24, 35, 0.5);
        }
    }
}
.clear {
    position: relative;
    width: 40px;
    border: none;
    outline: none;
    color: var(--search-item-color);
    font-size: 1.6rem;
}
.loading {
    position: absolute;
    width: 40px;
    border: none;
    outline: none;
    color: var(--search-item-color);
    font-size: 1.6rem;
    right: 53px;
    background-color: transparent;
}
.action {
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-btn {
    font-size: 2rem;
    margin-left: 16px;
    padding: 0 8px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
