.wrapper {
    min-width: 100px;
    padding: 6px 8px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(254, 44, 85, 1);
    cursor: pointer;
}
