.menu-list {
    min-width: 224px;
    .menu-item {
        margin-left: 0px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 0px;
        width: 100%;
        font-weight: 600;
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
}
.custom-poper-wrapper {
    padding-bottom: 8px;
}
.header {
    height: 50px;
    position: relative;
}
.btn-back {
    position: relative;
    height: 100%;
    margin-left: 10px;
    padding: 0 10px 0 20px;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    font-weight: 600;
}
